{% extends 'base.html' %}

{% block title %}
Horas Compensadas
{% endblock %}

{% block content %}
<div class="container">
    <h2 style="text-align: center;">Tabla de Horas Compensadas</h2>
    <hr>
    <table class="table" id="tabla-horas-compensadas" style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 15px;">
        <thead>
            <tr>
                <th><select id="year-select" style="border: none; padding: 5px; text-align: center; font-weight: bold;" onchange="filtrarTabla(0, this.value)">
                    <option value="">Año</option>
                    {% for year in years %}
                        <option style="text-align: left;" value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select></th>
                <th><select id="mes-select" style="border: none; padding: 5px; text-align: center; font-weight: bold;" onchange="filtrarTabla(1, this.value)">
                    <option value="">Mes</option>
                    {% for mes in meses %}
                        <option style="text-align: left;" value="{{ mes }}">{{ mes }}</option>
                    {% endfor %}
                </select></th>
                <th>ID Sonda Plus</th>
                <th>Número de Documento</th>
                <th>Nombre del Colaborador</th>
                <th>Monto</th>
                <th>Cantidad de Horas</th>
                <th>Moneda</th>
                <th>Centro de Costos</th>
                <th>País</th>
                <th>Empresa</th>
                <th>Concepto</th>
            </tr>
        </thead>
        <tbody>
            {% for horas_compensadas in horas_compensadas %}
            <tr>
                <td>{{ horas_compensadas.year }}</td>
                <td>{{ horas_compensadas.mes }}</td>
                <td>{{ horas_compensadas.id_sonda_plus }}</td>
                <td>{{ horas_compensadas.numero_documento }}</td>
                <td>{{ horas_compensadas.nombre_colaborador }}</td>
                <td>{{ horas_compensadas.monto }}</td>
                <td>{{ horas_compensadas.cantidad_horas }}</td>
                <td>{{ horas_compensadas.moneda }}</td>
                <td>{{ horas_compensadas.centro_costos }}</td>
                <td>{{ horas_compensadas.pais }}</td>
                <td>{{ horas_compensadas.empresa }}</td>
                <td>{{ horas_compensadas.concepto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function filtrarTabla() {
        var tabla = document.getElementById("tabla-horas-compensadas");
        var mesSeleccionado = document.getElementById("mes-select").value.toUpperCase();
        var yearSeleccionado = document.getElementById("year-select").value.toUpperCase();

        var filas = tabla.getElementsByTagName("tr");
        for (var i = 0; i < filas.length; i++) {
            var celdas = filas[i].getElementsByTagName("td");
            if (celdas.length >= 4) { // Verifica si hay al menos 4 celdas en la fila
                var year = celdas[0].textContent.toUpperCase();
                var mes = celdas[1].textContent.toUpperCase(); // Índice 3 corresponde a la columna de mes
                if ((yearSeleccionado === "" || year ===yearSeleccionado) && (mesSeleccionado === "" || mes === mesSeleccionado)) {
                    filas[i].style.display = "";
                } else {
                    filas[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}