{% if user.is_authenticated %}
    <nav class="navbar" style="background: linear-gradient(180deg, #255ab4, #005af9); padding: 1.5em;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <p class="text-white m-0 me-3">Usuario: {{ user.nombre }}</p>
            </div>
            <div class="col text-center">
                <a class="navbar-brand text-white text-center mx-auto" href="{% url 'menu' %}" style="font-size: 2.5rem;">Carga de Datos Gerencia Persona</a>
            </div>
            <div class="ms-auto">
                <form action="{% url 'cerrar_sesion' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-logout">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar" style="background: linear-gradient(180deg, #255ab4, #005af9); padding: 1.5em;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="col text-center">
                <a class="navbar-brand text-white text-center mx-auto" style="font-size: 2.5rem; width: 100%;">Carga de Datos Gerencia Persona</a>
            </div>
        </div>
    </nav>
{% endif %}